body {
    
    background-color: bisque;
}

div, h1, button {
    display: flex;
    justify-content: center;
}

img {
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
}